# Database connection string
DATABASE_URL="postgresql://user:password@host:port/aiorbit?sslmode=require"

# Direct URL for migration / CLI
DIRECT_URL="postgresql://user:password@host:port/aiorbit?sslmode=require"

# JWT Secret for secure authentication cookies
JWT_SECRET="your_secure_jwt_secret_at_least_32_chars_long"

# Application URL
NEXT_PUBLIC_APP_URL="http://localhost:3001"
